.bg-box {
    width: 1000px;
    height: 500px;
    background-color: green;
   background-image:url(https://img.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg), url(https://www.freeiconspng.com/img/44873) ,url(https://www.freeiconspng.com/img/34914#google_vignette), url(https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png);
   background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
   background-position: center, bottom, top, right, left;
   background-size: 500px, 50px, 50px, 50px, 50px;

}
